<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/final.css" type="text/css"> 
</head>
<section>
    <nav class="navbar navbar-expand-sm navbar-dark" style="padding-top: 1px;">
        <a class="navbar-brand" href="/" style="padding-bottom: 1px;">
            <img
                src="/img/cu.png"
                alt="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Five-pointed_star.svg/1200px-Five-pointed_star.svg.png"
                width="25px" height="25px">
        </a>
        <ul class="navbar-nav" style="padding-bottom: 1px; padding-top: 10px;"> 
            <li class="nav-item">
                <a class="nav-link" href="/getLocation">Get Location</a>
            </li>
        </ul>
    </nav>
</section>    
