<header>
    <%- include('partials/header'); %>
</header>

<section>
    <div class="container">
        <p>This is getLocation</p>
    </div>
</section>

<footer>
    <%- include('partials/footer'); %>
</footer>