<header>
    <%- include('partials/header'); %>
</header>

<body>
    <section>
        <div style="padding-left: 15px; padding-top: 6px;">
            <h1>Welcome to my Website</h1>
        </div>
        <div class="grid-container container">
            <div class="div-1 div-special div-outline">
                <div style="padding-left: 59px; padding-top: 8px;">
                    <p>NodeJS</p>  
                </div>
                <div style="padding-right: 2px;">
                    <hr class="hr-stylized" style="width: 100px; margin-top: -14px;">
                </div>
                <div style="padding-left: 3px; padding-right: 3px;">
                    <p style="font-weight: 70; font-size: small;">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>                
                </div>
            </div>
            <div class="div-2 div-special div-outline">
                <div style="padding-left: 43px; padding-top: 8px;">
                    <p>MongoDB</p>
                </div>
                <div style="padding-right: 4px;">
                    <hr class="hr-stylized" style="width: 125px; margin-top: -14px;">
                </div>
                <div style="padding-left: 3px; padding-right: 3px;">
                    <p style="font-weight: 70; font-size: small;">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>                
                </div>
            </div>
            <div class="div-3 div-special div-outline">
                <div style="padding-top: 8px; padding-left: 55px;">
                    <p>GitHub</p>
                </div>
                <div style="padding-right: 4px;">
                    <hr class="hr-stylized" style="width: 100px; margin-top: -14px;">
                </div>
                <div style="padding-left: 3px; padding-right: 3px;">
                    <p style="font-weight: 70; font-size: small;">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>                
                </div>
            </div>
            <div class="div-4 div-special div-outline">
                <div style="padding-left: 52px; padding-top: 8px;">
                    <p>Heroku</p>
                </div>
                <div style="padding-right: 9px;">
                    <hr class="hr-stylized" style="width: 110px; margin-top: -14px;">
                </div>
                <div style="padding-left: 3px; padding-right: 3px;">
                    <p style="font-weight: 70; font-size: small;">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>                
                </div>
            </div>
            <div class="div-5 div-special div-outline">
                <div style="padding-top: 14px; padding-left: 40px;">
                    <p>Bootstrap</p>
                </div>
                <div style="padding-right: 607px;">
                    <hr class="hr-stylized" style="width: 130px; margin-top: -14px;">
                </div>
                <div style="padding-left: 13px; padding-right: 3px; margin-top: -5px;">
                    <p style="font-weight: 70; font-size: small;">Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph.</p>                
                </div>
            </div>
            <div class="p-tag">
                <p>Tools Used:</p>
            </div>
        </div>
    </section>
</body>

<footer>
    <%- include('partials/footer'); %>
</footer>