<header>
    <%- include('partials/header'); %>
</header>

<section>
    <div class="container">
        <p>This is home</p>
        <h2><%= title %></h2>
    </div>
</section>

<footer>
    <%- include('partials/footer'); %>
</footer>
